#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-container {
  width: calc(100% - 2rem);
  margin: 1.25rem auto 2.5rem;
  background-color: #FFF8E7;
  border-radius: 1.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 8.75rem);
  box-sizing: border-box;
}